@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300,700);
/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/
/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/
/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300,700);
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; } }

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 1%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }
  .one.column,
  .one.columns {
    width: 4.66666666667%; }
  .two.columns {
    width: 13.3333333333%; }
  .three.columns {
    width: 22%; }
  .four.columns {
    width: 33.0666666667%; }
  .five.columns {
    width: 39.3333333333%; }
  .six.columns {
    width: 48%; }
  .seven.columns {
    width: 56.6666666667%; }
  .eight.columns {
    width: 65.3333333333%; }
  .nine.columns {
    width: 74.0%; }
  .ten.columns {
    width: 82.6666666667%; }
  .eleven.columns {
    width: 91.3333333333%; }
  .twelve.columns {
    width: 100%;
    margin-left: 0; }
  .one-third.column {
    width: 30.6666666667%; }
  .two-thirds.column {
    width: 65.3333333333%; }
  .one-half.column {
    width: 48%; }
  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%; }
  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%; }
  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78.0%; }
  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.3333333333%; }
  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%; }
  .offset-by-one-half.column,
  .offset-by-one-half.columns {
    margin-left: 52%; } }

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }

body {
  font-size: 1.5em;
  /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Josefin Sans',"Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; }

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }

h1 {
  font-size: 4.0rem;
  line-height: 1.2;
  letter-spacing: -.1rem; }

h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -.1rem; }

h3 {
  font-size: 3.0rem;
  line-height: 1.3;
  letter-spacing: -.1rem; }

h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -.08rem; }

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -.05rem; }

h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 {
    font-size: 5.0rem; }
  h2 {
    font-size: 4.2rem; }
  h3 {
    font-size: 3.6rem; }
  h4 {
    font-size: 3.0rem; }
  h5 {
    font-size: 2.4rem; }
  h6 {
    font-size: 1.5rem; } }

p {
  margin-top: 0; }

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #1EAEDB; }

a:hover {
  color: #0FA0CE; }

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }

fieldset {
  padding: 0;
  border-width: 0; }

input[type="checkbox"],
input[type="radio"] {
  display: inline; }

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }

ol {
  list-style: decimal inside; }

ol, ul {
  padding-left: 0;
  margin-top: 0; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }

li {
  margin-bottom: 1rem; }

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }

th:first-child,
td:first-child {
  padding-left: 0; }

th:last-child,
td:last-child {
  padding-right: 0; }

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }

input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }

.u-pull-right {
  float: right; }

.u-pull-left {
  float: left; }

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/
/* Larger than mobile */
/* Larger than phablet (also point when grid becomes active) */
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.home-wrap header {
  width: 155px;
  height: 100%;
  background: #fff;
  padding: 30px 0;
  z-index: 9; }
  .home-wrap header .header-position {
    position: fixed;
    top: 30px;
    left: 0;
    bottom: 30px;
    width: 155px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .home-wrap header .header-position a {
      color: #717171;
      text-decoration: none; }
      .home-wrap header .header-position a:hover, .home-wrap header .header-position a:active {
        color: #000; }
    .home-wrap header .header-position .logo {
      overflow: hidden;
      text-indent: 101%;
      white-space: nowrap;
      width: 155px;
      background-image: url(../images/logo-ub.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      height: 80px;
      padding: 0;
      margin: 0; }
  .home-wrap header .site-nav ul {
    list-style: none;
    margin: 20px 0;
    padding: 0 20px 0 0;
    text-align: right; }
  .home-wrap header .site-nav li {
    margin-bottom: 10px; }
    .home-wrap header .site-nav li:last-child {
      margin-bottom: 0; }
  .home-wrap header .email-link {
    display: block;
    text-align: right;
    padding-right: 20px; }
  .home-wrap header .mobile-nav-toggle {
    display: none;
    width: 50px;
    height: 50px;
    margin-right: 30px;
    align-items: center;
    cursor: pointer; }
    .home-wrap header .mobile-nav-toggle:selection {
      background: transparent; }
    .home-wrap header .mobile-nav-toggle:-moz-selection {
      background: transparent; }
    .home-wrap header .mobile-nav-toggle span,
    .home-wrap header .mobile-nav-toggle span:before,
    .home-wrap header .mobile-nav-toggle span:after {
      content: "";
      display: block;
      height: 2px;
      width: 100%;
      background: #333;
      position: relative;
      transition: all 0.3s ease-in-out; }
    .home-wrap header .mobile-nav-toggle span:before {
      top: 15px; }
    .home-wrap header .mobile-nav-toggle span:after {
      top: -17px; }
      .home-wrap header .mobile-nav-toggle span:after.is-open span {
        background: transparent; }
      .home-wrap header .mobile-nav-toggle span:after.is-open span:before,
      .home-wrap header .mobile-nav-toggle span:after.is-open span:after {
        transform-origin: center;
        transform: rotate(45deg);
        top: 0; }
      .home-wrap header .mobile-nav-toggle span:after.is-open span:before {
        transform: rotate(-45deg); }

.home-wrap .mobile-nav {
  display: none;
  position: absolute;
  width: 100%;
  background: white;
  padding: 30px 0 20px;
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out; }
  .home-wrap .mobile-nav a {
    color: #999; }
    .home-wrap .mobile-nav a:hover, .home-wrap .mobile-nav a:active {
      color: #666; }
  .home-wrap .mobile-nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .home-wrap .mobile-nav li {
    text-align: center;
    margin-bottom: 10px; }
    .home-wrap .mobile-nav li a {
      text-decoration: none;
      color: #000; }

@media (max-width: 775px) {
  .home-wrap header {
    width: auto;
    height: auto;
    padding: 0; }
    .home-wrap header .header-position {
      width: auto;
      position: relative;
      top: auto;
      bottom: auto;
      left: auto;
      flex-direction: row;
      align-items: center; }
      .home-wrap header .header-position h1.logo {
        width: 55px;
        margin-left: 10vw; }
    .home-wrap header .site-nav,
    .home-wrap header .email-link {
      display: none; }
    .home-wrap header .mobile-nav-toggle {
      display: none;
      width: 45px; }
  .home-wrap .mobile-nav.is-open {
    display: none;
    transform: translateY(0%); }
  .home-wrap .birdbox .boy {
    height: 110vh; }
  .home-wrap .birdbox .innovation {
    height: 100px;
    left: -10vw; }
  .home-wrap .birdbox .design {
    height: 100px;
    top: 20vh;
    left: 20vw; }
  .home-wrap .birdbox .code {
    height: 100px;
    top: 70vh;
    left: 40vw;
    z-index: 10; }
  .home-wrap .birdbox .hack {
    height: 100px;
    top: 40vh;
    left: 5vw; }
  .home-wrap .intro {
    height: auto; }
    .home-wrap .intro .intro-right {
      padding: 5vh 0;
      left: 5vw;
      width: 90vw; }
      .home-wrap .intro .intro-right p {
        font-size: 4vw; }
  .contact-me {
    padding: 5vh !important; }
    .contact-me span {
      font-size: 7vw !important; } }

.birdbox {
  position: relative;
  height: 90vh;
  color: white;
  overflow: hidden;
  background-color: #0A345F;
  background-repeat: no-repeat;
  background-size: auto 100vh;
  background-position: top center;
  background-attachment: fixed;
  background-blend-mode: multiply; }
  .birdbox .hack {
    display: block;
    height: 100px;
    width: 200px;
    z-index: 4;
    position: relative;
    top: 40px;
    left: 680px;
    background-image: url(../images/hack.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  .birdbox .code {
    display: block;
    height: 200px;
    width: 100%;
    z-index: 1;
    position: relative;
    top: 180px;
    left: 210px;
    background-image: url(../images/code.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center; }
  .birdbox .design {
    display: block;
    height: 200px;
    z-index: 3;
    width: 80%;
    position: relative;
    top: 0px;
    left: 0px;
    background-image: url(../images/design.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom; }
  .birdbox .boy {
    display: block;
    height: 800px;
    width: 100%;
    z-index: 4;
    position: absolute;
    bottom: -300px;
    transform-origin: top;
    background-image: url(../images/blue-guy.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom; }
  .birdbox .spotlight {
    display: block;
    height: 200%;
    width: 100%;
    position: absolute;
    top: -50%;
    left: 0;
    background-image: url(../images/spotlight.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top; }
  .birdbox .innovation {
    display: block;
    height: 200px;
    z-index: 6;
    width: 100%;
    position: relative;
    top: -160px;
    left: -200px;
    background-image: url(../images/innovation.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom; }

.intro {
  overflow: hidden;
  background-color: #2e3192;
  color: white;
  padding: 0;
  min-height: 71vh;
  display: flex;
  justify-content: space-between; }
  .intro .intro-left {
    margin-right: 0;
    padding-top: 15vh;
    display: inline-block;
    min-height: 70vh;
    background: #3fa9f5;
    position: relative;
    transform: translateX(-1000px);
    z-index: 1;
    transition: all .6s ease; }
    .intro .intro-left.in-position {
      transform: translateX(0px);
      bottom: 0;
      top: 0;
      min-width: 450px;
      width: 30vw;
      margin: 0;
      background-attachment: fixed;
      background-position: 280px 130px; }
    .intro .intro-left .profile-pic {
      margin-left: 30px;
      height: 300px;
      width: 300px;
      border-radius: 50%;
      transition: all .6s ease;
      background-image: url("../images/blue-guy.png");
      background-color: #16345e;
      background-position: 80px 130px;
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      margin-left: auto;
      margin-right: auto;
      background-attachment: fixed;
      background-position: 280px 130px; }
  .intro .intro-right {
    width: 70vw;
    display: inline-block;
    transition: all .6s ease;
    padding: 5vh 5em;
    margin: 0 auto; }
    .intro .intro-right.in-position {
      width: 43vw;
      left: 50vw; }
    .intro .intro-right p {
      font-size: 1.2em;
      margin-bottom: 10px; }

@media (max-width: 1030px) {
  .intro-right.in-position {
    width: 37vw;
    padding: 2em 1em; } }

@media (max-width: 1445px) {
  .intro-right.in-position {
    width: 48vw;
    left: 35vw;
    padding: 2em 1em; } }

@media (max-width: 770px) {
  .intro-left {
    display: none !important; }
  .intro-right, .intro-right.in-position {
    width: 100vw; } }

.skill-set {
  margin-top: -8px;
  padding-top: 10vh;
  padding-bottom: 20vh;
  background-color: #0071bc; }
  .skill-set h3 {
    margin-bottom: 0px;
    margin-left: .5em;
    font-size: 2em; }
  .skill-set .skill-lockup .skill {
    margin: 0; }
    .skill-set .skill-lockup .skill .skill-back {
      background-color: rgba(0, 0, 0, 0.7);
      height: inherit;
      width: 0;
      transition: width .6s ease; }
      .skill-set .skill-lockup .skill .skill-back .skill-fill {
        background-color: rgba(41, 171, 226, 0.8);
        height: 30px;
        width: 0;
        margin: 2px 0px;
        padding-bottom: 10px;
        animation-delay: 1;
        transition: all 2.5s cubic-bezier(0, 0, 0, 1.05); }

.projects-showcase {
  margin-top: -20px;
  padding-top: 10vh;
  padding-bottom: 15vh;
  min-height: 80vh;
  background-color: #29abe2;
  color: white; }
  .projects-showcase .project-thumbnail {
    margin-top: 5vh;
    background-color: rgba(0, 0, 0, 0.6);
    height: 200px; }
  .projects-showcase h3 {
    display: block;
    max-width: 80%;
    text-align: left;
    padding-left: 0.5em;
    opacity: 0;
    color: white;
    border-bottom: 1px white solid; }
  .projects-showcase .code-tile-col2 a {
    transition: all .1s ease-in-out; }
    .projects-showcase .code-tile-col2 a:hover {
      transform: scale(1.05); }

.contact-me {
  background-color: #2e3192;
  color: white;
  padding: 13vh 0em;
  margin-bottom: -10vh; }
  .contact-me span {
    display: block;
    text-align: center;
    font-size: 5vw; }

.grid {
  max-width: 1300px;
  margin: 0 auto;
  list-style: none;
  text-align: center; }

@keyframes project-tile-entrance {
  0% {
    transform: scale(0); }
  80% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }

.grid li {
  display: inline-block;
  width: 500px;
  margin: 0;
  text-align: left;
  margin: 5px 5px;
  transform: scale(0);
  position: relative;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-play-state: running;
  animation-timing-function: ease-in-out; }

.code-tile-col1 .learned {
  padding: 4px 2px;
  margin: 4px 2px;
  color: #29abe2;
  background-color: white;
  border-radius: 4px;
  font-size: 1.3em;
  padding-left: 2em;
  text-align: left;
  opacity: 0; }

.code-tile-col2 .see-more {
  height: 78.5px;
  padding: 4px 2px;
  margin: 4px 2px;
  margin-left: 8%;
  background-color: black;
  background-image: black;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  font-size: 1.3em; }

.github {
  background-image: url(../images/github.png); }

.codepen {
  background-image: url(../images/Codepen.png); }

.code-tile-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.code-tile-col1 {
  margin-top: 2em;
  display: flex;
  flex-direction: column; }

.code-tile-col2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 2em;
  border-left: white solid 1px; }

.grid figure {
  margin: 0;
  position: relative; }

.grid figure img {
  max-width: 100%;
  display: block;
  position: relative; }

.grid figcaption {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  background: #0071bc;
  color: #ed4e6e; }

.grid figcaption h6 {
  display: block;
  width: 60%;
  margin: 0;
  margin-left: 1em;
  padding: 0;
  color: #fff;
  line-height: 14px; }

.grid figcaption a {
  text-decoration: none;
  text-align: center;
  padding: 5px 10px;
  border-radius: 2px;
  display: inline-block;
  background: #16345e;
  color: #fff; }

/* Individual Caption Styles */
/* Caption Style 3 */
.cs-style-3 figure {
  overflow: hidden; }

.cs-style-3 figure img {
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s; }

.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  transform: translateY(-50px); }

.cs-style-3 figcaption {
  height: 50px;
  width: 100%;
  top: auto;
  bottom: 0;
  opacity: 0;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
  transition: transform 0.4s, opacity 0.1s 0.3s; }

.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s; }

.cs-style-3 figcaption a {
  position: absolute;
  bottom: 20px;
  right: 40px; }

@media screen and (max-width: 31.5em) {
  .grid {
    padding: 10px 10px 100px 10px; }
  .grid li {
    width: 100%;
    min-width: 300px; }
  .code-tile-row {
    flex-direction: column; } }

body {
  background-color: #f7f7f7;
  color: white; }

::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */ }

::-webkit-scrollbar-thumb {
  background: #FFF; }

h1 {
  font-size: 3em; }

.home-wrap {
  display: flex;
  min-height: 100vh; }

#header-container {
  width: inherit; }

#content-container {
  width: 100%; }

@media (max-width: 775px) {
  .home-wrap {
    flex-direction: column; } }
