.skill-set
  .container
    h1 Things I know
    
    .skill-lockup
    
      .skill
        .skill-back
          .skill-fill.html
            h3 HTML
            
          
      .skill
        .skill-back
          .skill-fill.css
            h3 CSS
          
      .skill
        .skill-back
          .skill-fill.js
            h3 JS

      .skill
        .skill-back
          .skill-fill.jquery
            h3 jQuery
            
      .skill
        .skill-back
          .skill-fill.angular
            h3 Angular

      .skill
        .skill-back
          .skill-fill.graphic
            h3 Graphic Design
          
      .skill
        .skill-back
          .skill-fill.android
            h3 Android
